html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  -webkit-box-shadow: inset 0px -50px 45px -73px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -50px 45px -73px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -50px 45px -73px rgba(0, 0, 0, 0.75);
}

.parent {
  border: solid black;
  box-sizing: border-box;
  display: grid;
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  margin: 30px;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
  width: auto;
  height: 100%;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  width: auto;
  height: 100%;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
  width: auto;
  height: 100%;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.div7 {
  grid-area: 7 / 1 / 8 / 2;
}
.div8 {
  grid-area: 8 / 1 / 9 / 3;
}
.div10 {
  grid-area: 1 / 2 / 2 / 3;
}
.div11 {
  grid-area: 2 / 2 / 3 / 3;
}
.div12 {
  grid-area: 3 / 2 / 4 / 3;
}
.div13 {
  grid-area: 4 / 2 / 5 / 3;
}
.div14 {
  grid-area: 5 / 2 / 6 / 3;
}
.div15 {
  grid-area: 6 / 2 / 7 / 3;
}
.div17 {
  grid-area: 1 / 3 / 10 / 7;
}

#logo {
  position: relative;
  top: -12px;
  left: -12px;
  width: 150px;
  height: 150px;
  border: 10px solid white;
}

#brands {
  /* position: relative;
  bottom: 40px; */
  max-width: 100%;
  width: auto;
  height: 150px;
}

.div1 {
  margin-bottom: 30px;
}

.div2,
.div3,
.div4,
.div5 {
  position: relative;
  top: 8vh;
  padding-left: 15px;
}

/* .div4, .div5 {
    position: relative;
    top: 5vh;
    padding-left: 15px;

} */

.div6 {
  position: relative;
  top: 10vh;
  padding-left: 15px;
}

.div7 {
  position: relative;
  padding-left: 15px;
  margin-top: 20%;
}

.div8 {
  position: relative;
  padding-left: 15px;
}

.div10,
.div11,
.div12,
.div13,
.div14,
.div15 {
  width: 50%;
}

#contact-form {
  margin-bottom: 200px !important;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "VCR OSD Mono", sans-serif;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 25px !important;
}

h2 {
  font-size: 20px !important;
  color: #00ddff;
  /* text-align: justify; */
}

h3 {
  font-size: 15px !important;
}

h4 {
  font-size: 10px !important;
}

h5 {
  font-size: 10px !important;
}

.footer-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: grey;

  position: absolute;
  bottom: 5px;
  left: 45px;
}

.div17 {
  position: relative;
  overflow: hidden;
  height: 105vh;
  top: -33px;
  width: 150%;
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}

#portfolio {
  height: 100vh;
  width: 150%;
  animation: slide-left 30s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  } /* translate the image to the left by 50% of the element's width */
}

#portfolio img {
  height: 105vh;
  width: auto;
}

.modal {
  border-radius: 7px;
  overflow: hidden;
  background-color: transparent;
}
.modal .logo a img {
  width: 30px;
}
.modal .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
.modal .modal-content .modal-body {
  border-radius: 7px;
  overflow: hidden;
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
}
.modal .modal-content .modal-body h2 {
  font-size: 18px;
}
.modal .modal-content .modal-body p {
  color: #777;
  font-size: 14px;
}
.modal .modal-content .modal-body h3 {
  color: #000;
  font-size: 22px;
}
.modal .modal-content .modal-body .close-btn {
  color: #000;
}
.modal .modal-content .modal-body .promo-img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.modal .cancel {
  color: gray;
  font-size: 14px;
}
.modal .btn-primary {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  border: transparent;
  border: 1px solid #ccc;
}
.form-control:active,
.form-control:focus,
.form-control:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn {
  border-radius: 4px;
  border: none;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.bg-image {
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  animation-name: slide;
  animation-duration: 60s;
  animation-iteration-count: infinite !important;
  background-image: url("../images/WEBSITE-IMAGE\ LONG-01.jpg");
}

@keyframes slide {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.logo img {
  width: 70px;
}

.custom-note {
  color: #999;
}
.custom-note a {
  color: #555;
  font-weight: 900 !important;
}

#message {
  height: 100px;
}

.btn {
  border-radius: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
  border: none;
}

.modal h1,
.modal h2,
.modal p,
.modal .btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 1200px) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }

  #border-box {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 125vh;
    border: 1px solid black;
    /* border-bottom: 0; */
    margin: 3%;
    z-index: -1;
  }

  /* .parent {
    display: flex;
    width: 100%;
    border: none;
  } */

  .parent {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 3% 3% 40px 40px 70% 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: none;
  }

  .div1 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div4 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div5 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .div6 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div7 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div8 {
    grid-area: 7 / 2 / 8 / 3;
  }
  .div9 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div10 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div11 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div12 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div13 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div14 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div15 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div16 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div17 {
    grid-area: 6 / 2 / 7 / 3;
  }

  .div1 {
    height: 150px;
    width: 150px;
    margin: auto;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  #logo {
    position: relative;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .div6,
  .div7 {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: auto;
  }

  .div7 {
    margin-top: auto;
    margin-bottom: auto;
    top: 42%;
  }

  .div2 {
    padding: 0;
    left: -25%;
    width: 150%;
    display: flex;
    justify-content: center;
    height: 0;
    top: 10px;
  }
  .div3,
  .div4,
  .div5 {
    padding: 0;
    left: -50%;
    width: 200%;
    display: flex;
    justify-content: center;
    height: 0;
    top: 10px;
  }

  .div17 {
    position: absolute;
    left: 0px;
    top: 35%;
    width: 100vw;
    height: 60%;
  }

  .div8 {
    width: 200%;
    left: -50%;
    height: 60%;
  }

  .footer-text {
    position: absolute;
    width: 100%;
    bottom: -30%;
    left: 44%;
  }
}

@media only screen and (max-height: 1000px) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }

  #border-box {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 125vh;
    border: 1px solid black;
    /* border-bottom: 0; */
    margin: 3%;
    z-index: -1;
  }

  .parent {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 3% 3% 40px 40px 70% 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: none;
  }

  .div17 {
    position: absolute;
    left: 0px;
    top: 40%;
    width: 100vw;
    height: 60%;
  }

  .div8 {
    width: 200%;
    left: -50%;
    height: 90%;
  }
}

@media only screen and (max-width: 550px), screen and (max-height: 830px) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }

  #border-box {
    display: grid;
    justify-content: center;
    text-align: center;
    height: 125vh;
    border: 1px solid black;
    /* border-bottom: 0; */
    margin: 3%;
    z-index: -1;
  }

  .parent {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 8% 5% 40px 40px 70% 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: none;
  }

  .div1 {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  #logo {
    position: relative;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .div6,
  .div7 {
    width: 60%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: auto;
    align-items: center;
  }

  .div7 {
    margin-top: auto;
    margin-bottom: auto;
    top: 25%;
    left: -25%;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
    color: #00ddff;
  }

  .div6 h2 {
    text-align: start;
  }

  .div7 h2 {
    text-align: initial;
  }

  h3 {
    font-size: 12px !important;
  }
  
  h4 {
    font-size: 8px !important;
  }
  
  h5 {
    font-size: 8px !important;
  }
  


  .div17 {
    position: absolute;
    left: 0px;
    top: 40%;
    width: 100vw;
    height: 60%;
  }

  .div8 {
    width: 250%;
    left: -75%;
    height: auto;
  }
}
